<div id="grid">
    <div id="gameResult"><h4>{{model.resultDisplay}}</h4></div>
    <div class="row">
        <div class="offset-4 col-8 grid" >
            <div class="row" *ngFor="let rowCount of [1,2,3]">
                <app-cell *ngFor="let columnCount of [1,2,3]" 
                            [model] = 'getCell(rowCount, columnCount)'
                            [isWon] = 'model.isWon'
                            (changeState)="pushState($event)">
                </app-cell>
            </div>
        </div>
    
    </div>
    <!-- <div class="row">
        {{output | json}}
    </div> -->
</div>
