/*
.grid .row div
{
    height: 130px;
}

.grid .row:nth-child(1) div:nth-child(2), .row:nth-child(3) div:nth-child(2)
{
    border-width: 0px 2px 0px 2px;
    border-style: solid;
}

.grid .row:nth-child(2) div:nth-child(2)
{
    border-width: 2px;
    border-style: solid;
}

.grid .row:nth-child(2) div:nth-child(1), .row:nth-child(2) div:nth-child(3)
{
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}
*/
