.droppable {
    min-height: 600px;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid lightgray; 

}

.draggable {
    margin: 0.5em;
    background-color: linen;
    cursor: pointer;
    text-align: center;
    width: 12em
}


.dragover {
    background: skyblue;
    transition: ease-in 0.5s;
}

.exercise-list
{
    margin: 1.2em;
}

.exercise-list li
{
    padding: 1em;
}

.exercise-list li:hover{
    background: skyblue;
    cursor: pointer;
}

.exercise-selected{
    background: skyblue;
    cursor: pointer;
}

.exercises-toolbar div {
    margin: 0 1em;
    cursor: pointer;
    opacity: 0.8;
}

.modal{
    display: block;
    visibility: hidden;
}

.modal-show
{
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.8);
    transition: background-color 0.2s linear;
}

.modal-content 
{
    opacity: 0; 
}

.modal-show .modal-content 
{
    opacity: 1; 
    transition: 0.2s linear; 
}

