.drag {
    min-height: 600px; 
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid black;

}

.drop {
    min-height: 600px;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid black;

}

.draggable {
    margin: 0.5em;
    background-color: silver;
    cursor: pointer;
    text-align: center;
}


