################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoMapper/obj/Debug
/bin/Debug
/obj/Debug
