.cell 
{
    height: 130px;
    width: 130px;
    cursor: pointer;
}

.nought
{
    background-image: url('../../../assets/nought.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    cursor: default;
}

.cross
{
    background-image: url('../../../assets/cross.jpg');
    background-repeat:no-repeat;
    background-position: center center; 
    cursor: default;
}

.nought-win
{
    background-image: url('../../../assets/nought_win.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    cursor: default;
}

.cross-win
{
    background-image: url('../../../assets/cross_win.jpg');
    background-repeat:no-repeat;
    background-position: center center; 
    cursor: default;
}

.cell_position_1_2, .cell_position_3_2
{
    border-width: 0px 2px 0px 2px;
    border-style: solid;
}

.cell_position_2_2
{
    border-width: 2px;
    border-style: solid;
}

.cell_position_2_1, .cell_position_2_3
{
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}

.game-end{
    cursor: default;
}
