
body, html, #root{
  height:100%
}

.App {
  text-align: center;
  height:100%;
}

.quote-background
{
  height: 100%;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:top;
  background-image: url('assets/images/background.jpg');
}

.quote
{
  /* background-color: grey; */
  transition: opacity ease-in-out 2s;
  max-width: 35%;
  padding: 3em;
  border-radius: 1em;
  opacity: 0.8;
  font-size:xx-large;
  margin-right: 3em;
}

.fadein-text
{
  transition: opacity ease-in-out 2s;
  opacity: 1;
  color: white;
}

.hidden
{
  opacity: 0;
}

.heading
{
  width: 100%;
  padding: 1em;  
  color:white;
  font-size: medium;
}

pre
{
  font-family:inherit!important;
  display: flex;
  white-space: pre-wrap; 
  word-break: break-word;
  overflow-x:hidden!important;
}

@media (max-width: 319px) { 
  .quote {
    font-size:small;
    max-width:75%;
  } 
}

@media (min-width:320px ) and (max-width: 480px) { 
  .quote {
    font-size:medium;
    max-width:75%;
  } 
}

@media (min-width:481px ) and (max-width: 768px) { 
  .quote {
    font-size:medium;
    max-width:75%;
  } 
}

